In [1]:
cd ..

/Users/caitlynachen/Desktop/front/lux

In [2]:
import pandas as pd
import lux

Load in a dataset of 392 different cars from 1970-1982:

In [3]:
df = pd.read_csv("lux/data/car.csv")
# df.set_executor_type("Pandas")
df["Year"] = pd.to_datetime(df["Year"], format='%Y') # change pandas dtype for the column "Year" to datetype
df.head().to_pandas()

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140,3449,10.5,1970-01-01,USA

In [4]:
df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Intuitively, we expect cars with more horsepower means higher acceleration, but we are actually seeing the opposite of that trend.
Let's learn more about whether there are additional factors that is affecting this relationship.

In [14]:
df.set_context([lux.Spec(attribute = "Acceleration"),lux.Spec(attribute = "Horsepower")])
df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [23]:
df.get_exported()

3

{'currentView': [<View  (x: Acceleration, y: Horsepower) mark: scatter, score: 0.00 >],
 'Enhance': [<View  (x: Acceleration, y: Horsepower, color: Cylinders) mark: scatter, score: 0.20 >],
 'Filter': [<View  (x: Acceleration, y: Horsepower  -- [Year=1973-01-01T00:00:00.000000000] ) mark: scatter, score: 0.79 >]}

In [6]:
df.current_view

LuxWidget(recommendations=[{'action': 'View Collection', 'description': 'Shows a view collection defined by thâ€¦

In the cell above, the Enhance shows that for all the added quantitative variables (shown as gradients of color), except MilesPerGal, the trend for the value is higher on the upper-left end, and value decreases towards the bottom-right.

Let's look at what the MilesPerGal is like for different Cylinder cars.

In [ ]:
df.set_context([lux.Spec(attribute = "Cylinders"), lux.Spec(attribute = "MilesPerGal")])
df

In [ ]:
df.set_context([lux.Spec(attribute = "Origin")])
df

The Count distribution shows that there is not a lot of cars with 3 and 5 cylinders, so let's clean the data up to remove those.

In [ ]:
df[df["Cylinders"]==3].to_pandas()

In [ ]:
df[df["Cylinders"]==5].to_pandas()

In [ ]:
newdf = df[(df["Cylinders"]!=3) & (df["Cylinders"]!=5)]
newdf